<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Model</title>
<link rel="stylesheet" th:href="@{/qin/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/icon/css/font-awesome.min.css}" />

</head>
<body class="bg-b">
	<h1>欢迎进入Model项目</h1>
	
	
	<!-- js -->
	<script th:src="@{/qin/js/jquery.js}"></script>
	<script th:src="@{/qin/js/vue.js}"></script>
	<script th:src="@{/layer/layer.js}"></script>
	
	<script th:inline="javascript">

	</script>
</body>
</html>